#imagen-movie {
  transition: all ease 0.3s;
}

#imagen-movie:hover {
  transition: all ease 0.3s;
  scale: 1.2;
}

#imagen-serie {
  transition: all ease 0.3s;
}

#imagen-serie:hover {
  transition: all ease 0.3s;
  scale: 1.2;
}
